:root {
  --font-color: #333333;
  --card-color: #efeff2;
  --btn-color: #c0bac7;
}
.products_section{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}


img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid #c0bac7;
  background: var(--btn-color);
  letter-spacing: 0.3em;
}

.btn:hover {
  background-color: #7F748E;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card:hover {
  transition: 0.2s ease-in;
  transform: translateY(-10px);
  box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
}

.card_content {
  padding: 0.8rem;
  background: var(--card-color)
}

.card_title {
  color: var(--font-color);
  font-size: 1.1rem;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0px;
  padding: 0.5em;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 0.1em;
  width: calc(100%-20px);
}

.card_text {
  color: var(--font-color);
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  padding: 0.5em;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.price {
  color: var(--font-color);
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 900;
  text-align: right;
  letter-spacing: 0.1em;
}
/* 
increace/decreace btn */


.qty-input {
    color:black;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    background: transparent;
    text-align: center;
  }
  .qty-input .product-qty,
  .qty-input .qty-count {
    background-color: #ece3e4;
    border-radius: 6px;
    font-weight: bold;
    font-size: inherit;
    border: none;
    display: inline-block;
    min-width: 0;
    height: 2rem;
    line-height: 1;
    padding: 0;
  }

  .qty-input .product-qty {
    background-color: transparent;
  }

  .qty-count { 
    background-color: #9D9D9D;
    border-radius: 6px;
  }
    

  .qty-input .product-qty:focus,
  .qty-input .qty-count:focus {
    outline: none;
  }
  .qty-input .product-qty {
    width: 50px;
    min-width: 0;
    display: inline-block;
    text-align: center;
  }
  .qty-input .product-qty::-webkit-outer-spin-button, .qty-input .product-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
            appearance: none;
    margin: 0;
  }
  .qty-input .qty-count {
    padding: 0;
    cursor: pointer;
    width: 2.5rem;
    font-size: 1.25em;
    overflow: hidden;
    
  }

  .qty-input .qty-count--add:after {
    transform: rotate(90deg);
  }
  .qty-input .qty-count:disabled {
    color: white;
    background-color: #716F81;
    cursor: not-allowed;
    border-color: transparent;
  }
/* 
medias */

@media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }